RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# this just routes all the traffic through index.php
# with parameter URL set to the actual URL for App, Router and Dispatcher to chew on
